<%= form_for(@fitnessclass) do |f| %>
  <% if @fitnessclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fitnessclass.errors.count, "error") %> prohibited this fitnessclass from being saved:</h2>

      <ul>
      <% @fitnessclass.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
