<h1>Listing fitnessclasses</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fitnessclasses.each do |fitnessclass| %>
  <tr>
    <td><%= link_to 'Show', fitnessclass %></td>
    <td><%= link_to 'Edit', edit_fitnessclass_path(fitnessclass) %></td>
    <td><%= link_to 'Destroy', fitnessclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fitnessclass', new_fitnessclass_path %>
